@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;*/

body {
    height: 100vh;
    color: hsl(0, 0%, 95%);
    background-color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}

.container {
    max-width: 100%;
    margin: 20px 10px;
}

.card1 {
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
    border-radius: 7px 7px 0px 0px;
}

.card2 {
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
}

.card3 {
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
    border-radius: 0px 0px 7px 7px;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    font-family: 'Lexend Deca', sans-serif;
}

.button1 {
    width: 140px;
    border-radius: 25px;
    height: 45px;
    border: none;
    color: hsl(31, 77%, 52%);
    margin-top: 20px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.button1:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
    cursor: pointer;
}

.button2 {
    width: 140px;
    border-radius: 25px;
    height: 45px;
    border: none;
    color: hsl(184, 100%, 22%);
    margin-top: 20px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.button2:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
    cursor: pointer;
}

.button3 {
    width: 140px;
    border-radius: 25px;
    height: 45px;
    border: none;
    color: hsl(179, 100%, 13%);
    margin-top: 20px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.button3:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
    cursor: pointer;
}

@media (min-width:768px) {
    body {
        display: flex;
    }

    .container {
        display: flex;
        margin: auto;
        justify-content: center;
        max-width: 100%;
    }

    .card1 {
        border-radius: 7px 0px 0px 7px;
    }

    .card3 {
        border-radius: 0px 7px 7px 0px;
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 85%;
    }

    .button1, .button2, .button3 {
        margin-top: 50px;
        margin-bottom: 10px;
    }
} 

@media (min-width:1440px) {
    .container {
        max-width: 60%;
    }

    .button1, .button2, .button3 {
        margin-top: 50px;
        margin-bottom: 10px;
    }
}